@import './base.css';

#app {
  margin: 0 auto;
  font-family: Candara;
  font-weight: normal;
  display: flex;
  align-content: center;
  justify-content: center;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

